Source: salt-formula-rundeck
Maintainer: Ilya Kharin <ikharin@mirantis.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://mirantis.com
Vcs-Browser: https://github.com/salt-formulas/salt-formula-rundeck
Vcs-Git: https://github.com/salt-formulas/salt-formula-rundeck.git

Package: salt-formula-rundeck
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass, python-requests
Description: rundeck salt formula
 Install and configure Rundeck.
